.register-div {
    width: 35%;
    text-align: center;
    margin: 0 auto;
    border-radius:1em;
    padding: 1em;
    height: 19em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.register-div h2 {
    text-align: center;
}
.register-div input {
    width: 50%;
    margin-bottom: 1em;
    border: none;
    border-bottom: 3px solid black;
}

.register-submit-div input {
    width: 50%;
    margin-bottom: 1em;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    border: none;
    color: white;
    background: linear-gradient(to right, rgb(221, 33, 33), rgb(191, 130, 130));
}

.register-div button{
    color: black;
    width: 50%;
    margin-bottom: 1em;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    border: none;
    background-color: rgb(234, 237, 239);

}

