/* Body CSS*/
html {
    background: linear-gradient(to bottom,#6842a9 0%, #9999ff 100%);
    height: 200%;
    width: 100%;

}
body {

    animation: fadein 1s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#pagi-div{
    margin: 0 auto;
}
#pagination{
    padding: 0.5em;
    display:block;
    text-align: center;
    margin: 0 auto;
    
}

#pagination ul {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 30%;
    overflow: hidden;
    text-align: center;
}

#pagination li {

    float: left;
    display: block;
    color: rgb(75, 44, 118);
    text-align: center;
    padding:0.5em;
    width:1.2em;
    text-decoration: none;
    border:1px solid rgb(183, 183, 183);
    background: white;
    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.05);



}

  
.main-title {
    color:rgb(96, 72, 192);
}
.welcomediv {

    /* For Centering the Div */
    margin: 0 auto;

    width: 65%;
    background: linear-gradient(to bottom,#ffffff 0%, #eeeeee 100%);
    border-radius: 5px;
    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.05);
    padding-bottom: 3em;

}
.option-div {
    text-align: center;
    margin-bottom: 0.2em;
}
.search-btn-mode,.upload-btn-mode {
    font-size: 100%;
    padding:0.4em;
    margin:0.2em;
    background-color: rgb(96, 72, 192);
    color: white;
    border: 1px solid rgb(233, 233, 233);
   
    border-radius: 5px;
}
.search-btn-mode:hover{
    background-color: rgb(67, 24, 108);
}
.upload-btn-mode:hover{
    background-color: rgb(67, 24, 108);
}
.searchbardiv {
    margin-top: 0.5em;
    animation: fadein 1s;
    padding-top:0.2em;
    padding-bottom: 2em;
    text-align: center;
}
#searchbardiv input {
    padding: 0.5em;
    border: none;
    border-bottom: 3px solid rgb(110, 64, 169);
    width: 60%;
    height: 2.5em;
    background-color: rgb(238, 238, 238);

    
}

#hits {
    margin-top:0.5em;
    animation: fadein 1s;
}
.ais-SearchBox-submit {
    color: rgb(39, 3, 3);
    background-color: rgb(255, 255, 255);
    height: 2.5em;
    width: 2.5em;
    margin-left:0.5em;

}

.ais-ais-SearchBox-loadingIndicator {
    margin-left:1em;

}
.ais-SearchBox-reset {
    border-radius: 2.5px;
    color: rgb(39, 3, 3);
    background-color: rgb(255, 255, 255);
    height: 2em;
    margin-left:0.5em;
}
.searchbar {
    margin-right:-10px;
    border-radius: 0;
    
}

.searchbutton {
    border-radius: 5px;
    border: 2px solid black;
    color: white;
    background-color: black;
    height: 2.45em;

}

.sifsearchtitle {
    padding-top: 1em;
    padding-bottom: 0.5em;
    white-space: nowrap;
    margin: 0 auto;
    color: rgb(18, 0, 0);  
    text-align: center;
    overflow: hidden;
    animation: 
    typing 3.5s;
}

.upload_div {
    border: 0.5px solid rgb(211, 211, 211);

    animation: fadein 1s;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin: 0 auto;
    position: relative;
    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.05);
    
    padding-bottom: 0.5em;
}

.uploadbutton {
    font-size: 100%;
    margin: 1em;
    background-color: rgb(96, 72, 192);
    color: white;
    border: 2px solid rgb(74, 7, 103);

}
.nice-comment {
    color:rgb(96, 72, 192);

}
.upload-title {
    color:rgb(96, 72, 192);
}
/* upload success styling */
.upload_success {
    animation: fadein 1s;
    text-align: center;
    border-radius: 5px;
    border: 0.5px solid rgb(211, 211, 211);

    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.05);
    padding: 1em;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    width: 60%;
    padding-bottom: 0.5em;
}

.gobackbtn {
    margin-top: 1em;
    border-radius: 5px;
    font-size: 100%;
    text-align: center;
    background-color: rgb(96, 72, 192);
    color: white;
}

/* Style for the search entry */
.search-list {
    text-align: center;
}
.search_item {
    animation: fadein 1s;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    width: 60%;
    margin: 0 auto;
    position: relative;
    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.05);
    border: 2px solid rgb(0, 0, 0);
    padding-bottom: 0.5em;
}
.clearsearch {
    
    border-radius: 5px;
    font-size: 100%;
    text-align: center;
    background-color:rgb(96, 72, 192);
    color: white;
    text-align: center;
    height: 2em;
}
/* search item */
.hit-item{
    margin: 0 auto;
    background-color: white;
    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.05);
    border: 2px solid rgb(181, 181, 181);
    padding:0.5em;
    line-height: 1em;
    width: 50%;
    margin-bottom: 1em;
    text-align: center;
}

.view-media {
    background-color: rgb(75, 77, 177);
    color: white;
    border: 1px solid rgb(85, 58, 177);
    border-radius: 5px;
    padding: 0.5em;
}

/* Animations */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}