<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.14.2/dist/algoliasearch-lite.umd.js" integrity="sha256-dImjLPUsG/6p3+i7gVKBiDM8EemJAhQ0VvkRK2pVsQY=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.49.1/dist/instantsearch.production.min.js" integrity="sha256-3s8yn/IU/hV+UjoqczP+9xDS1VXIpMf3QYRUi9XoG0Y=" crossorigin="anonymous"></script>
    <link rel= "stylesheet" href = "{% static 'style.css'%}">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous" />
    <script src="{% static 'scripts.js' %}" defer></script>
</head>
<body>
    <div class = "main">
    <br>
    <br>
    <div class = "welcomediv">
        <h1 class = "sifsearchtitle"> Welcome To <b class = main-title>SIFSearch</b><i class="fa-solid fa-magnifying-glass"></i></h1>
        <div class = "option-div">
            <button id = "search-btn-mode" class="search-btn-mode" onclick="search_mode()">Search</button>
            <button id ="upload-btn-mode" class = "upload-btn-mode" onclick="upload_mode()">Upload</button>
        </div>
        <div id = "searchbardiv" class = "searchbardiv">
        </div>
        <script type = "text/html" id = "hit-template">
           
                    <h3 class = "hit-description"> {{name}}</h3>
                    <h3 class = "hit-description"> {{description}}</h3>
                    <h3 class = "hit-link"> {{link}}</h3>
            </div>
        </script>
        <div  id = "hits"></div>
        <div id = "pagination"></div>
        <br>
        <div id = "upload_div" class = "upload_div">
            <br>
            <h3 class = "upload-title">Upload Something Cool.</i></i></h3>
            
            <form id = "upload-form"> 
                <label for="title">Title:</label><br>
                <input type="text" id="title" placeholder="Call It Something." name="title"><br>
                <label for="description">Description:</label><br>
                <input type="text" id="description" placeholder="Describe It." name="description">
                <br>
                <label for="link_entry">Link:</label><br>
                <input type="text" id="link_entry" placeholder="Provide a Link...For Now" name="link_entry">
            </form>
            <button type="submit" onclick="uploadFunction()" class = "uploadbutton"><i class="fa-solid fa-upload"></i></button>
        </div>

        <div id = "upload_success" class = "upload_success">
            <div class = "style_upload">
            <h3 class = "nice-comment">Nice. You've uploaded something cool.</h3>
            <b>Name of Entry: </b><p id = "title_success"></p> 
            <b>Description:</b> <p id = "descr_success"></p>
            <b>Link:</b>  <a id = "link_success" target="_blank" href="">Link to Media</a>
            <br>
            <button onclick="goBack()" class = "gobackbtn"> Upload More </button>
        </div>  
    </div>
</div>
</body>
</html>