<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" href = "{% static 'style.css'%}">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous" />
</head>
<body>
    <div class = "welcomediv">
        <h1 class = "sifsearchtitle"> SIFSearch<i class="fa-solid fa-magnifying-glass"></i></h1>
        <div class = "searchbardiv">
            <input class = "searchbar" type="text" placeholder=" Search Something Cool.">
            <button class = "searchbutton"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class = "upload_div">
            <h3>Upload Something Cool.</i></i></h3>
            <form>
                <label for="fname">Title:</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">Description:</label><br>
                <input type="text" id="lname" name="lname">
              </form>
              <button class = "uploadbutton"><i class="fa-solid fa-upload"></i></button>
        </div>
        <br>
    </div>
   
</body>
</html>