<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIFSearch Home</title>
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.14.2/dist/algoliasearch-lite.umd.js" integrity="sha256-dImjLPUsG/6p3+i7gVKBiDM8EemJAhQ0VvkRK2pVsQY=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.49.1/dist/instantsearch.production.min.js" integrity="sha256-3s8yn/IU/hV+UjoqczP+9xDS1VXIpMf3QYRUi9XoG0Y=" crossorigin="anonymous"></script>
    <link rel = "shortcut icon" type = "image/png" href = "static/favicon.png">
    <link rel= "stylesheet" href = "{% static 'style.css'%}">
    
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous" />
    <script src="{% static 'scripts.js' %}" defer></script>
</head>
<body>
    <button type="button" onclick="changeMode()" id="dark-light-btn"><i class="fa-solid fa-moon"></i></button>
    <div class = "main">
        {% block content %}
        <p><a class="log-out" style="padding:0.2em; color:white" href="{% url 'logout' %}">Log Out</a></p>
        {% endblock %}

    <div class = "welcomediv">
        <h1 class = "sifsearchtitle"> Welcome To <b class = main-title>SIFSearch</b><i id = "mag-glass" class="fa-solid fa-magnifying-glass"></i>, <b id="username">{{ request.user.username }}</b>
        </h1>
        <div class = "option-div">
            <button id ="upload-btn-mode" class = "upload-btn-mode" onclick="uploadMode()">Upload</button>
            <button id = "search-btn-mode" class="search-btn-mode" onclick="searchMode()">Search</button>
        </div>
        <!--divs for InstantSearch.js materials-->
        <div id = "searchbardiv" class = "searchbardiv"></div>
        <div id = "display-refinement">
            <button onclick = "showRefinementList()" id = "refin-btn" type = "button">Show Refinement List <i class="fa-solid fa-eye"></i></button>
            <div id = "refinement-list"></div>
        </div>
        <div  id = "hits"></div>
        <div id = "pagination"></div>
        <br>
        <!--upload form-->
        <div id = "upload-div" class = "upload-div">
            <br>
            <h3 class = "upload-title">Upload Something Cool.</i></i></h3>
            <form id = "upload-form"> 
                <label for="title">Name:</label><br>
                <input type="text" id="title" placeholder="Call It Something." name="title" required><br>
                <label for="description">Description:</label><br>
                <input type="text" id="description" placeholder="Describe It." name="description" required>
                <br>
                <!--Option for uploading a file or pasting a link-->
                <div class = "choose-entry">
                    <label class = "what-to-share">What Do You Want To Share?</label><br>
                    <button onclick ="pasteLink()" type ="button" id = "paste-link" class="paste-link" onclick="search_mode()">Paste Link <i class="fa-solid fa-link"></i></button>
                    <button onclick ="uploadFile()" type = "button" id ="upload-file" class = "upload-file" onclick="upload_mode()">Upload File <i class="fa-solid fa-file"></i></button>
                </div>
                <div id = "show-link">
                    <input type="text" id="link-entry" placeholder="Provide a Link" name="link-entry">
                </div>
                <div id = "show-file">
                    <input type="file" id="myFile" name="filename">
                </div>
                <!--Selecting a tag-->

                <label for="option_tag">Tag:</label><br>
                <select class = "tag-form" id = "tag-form">
                    <option>Code Repositories</option>
                    <option>News Articles</option>
                    <option>Research & Trading Strategies</option>
                    <option>SIF Related</option>
                    <option>Random Stuff</option>
                    <!-- html for adding a tag -->
                    {% for t in currtags %}
                    <option>{{ t.tag }}</option>
                    {% endfor %}
                </select>
                <button onclick = "addTag()" type ="button" class = "add-tag-btn"> Add a Tag <i class="fa-solid fa-tag"></i></button>
                <div id = "add-tag">
                    <input type="text" id="add-tag-input" placeholder="Add a tag" name="add-tag">
                </div>
                <br>
                <button type="submit" onclick="uploadFunction()" class = "uploadbutton"><i class="fa-solid fa-upload"></i></button>
            </form>            
        </div>
        <!--Shows upon successful upload -->
        <div id = "upload-success" class = "upload-success">
            <h3 class = "nice-comment">Nice. You've uploaded something cool.</h3>
            <b>Name of Entry: </b><p id = "title-success"></p> 
            <b>Description:</b> <p id = "descr-success"></p>
            <button onclick="goBack()" class = "gobackbtn"> Upload More </button>
        </div>  
    </div>
</div>
<!-- Creating a Modal For Editing-->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <label for="title">Name:</label><br>
      <input type="text" id="new-title" placeholder="New Name" name="new-title"><br>
      <label for="description">Description:</label><br>
      <input type="text" id="new-description" placeholder="New Description" name="new-description">
      <br>
      <button type="button" id= "modal-btn" class = "modal-btn"> Update </button>
      </div>
</div>

<!-- delete modal -->
<div id="delete-modal" class="delete-modal">
    <!-- delete modal content -->
    <div class="delete-modal-content">
        Are you sure you want to delete this?
        <button id = "yes-delete"> Yes </button> <button id="no-delete" type = "button" onclick="closeDelete()"> No</button>
    </div>
</div>
</div>
</body>

<footer style = "color:white">
    Created By The Smith Investment Fund's Quantitative Team
</footer>
</html>